
// colors
// $font-color1: #f5f8fa;
// $font-color1: #8c8c8c;
$font-color1: #5d5d5d;
$font-color2: #15284c;

$font-color3: #aeb0b3;
$font-color4: #363636;
$font-color5: #e4e4e4;

$vcare-red: #d3001c;

$font-size: 0.8em;

$btn-color1: #15284c;

$bg-color1: #f9f9f9;

$test: red;



$font-family-text: "Montserrat", sans-serif;