@import 'variables';

#vcare-heading{
    margin-bottom: 51px;

}

.blue-vcare-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15vh 1.5rem;
    position: relative;
    p{
        line-height: 34px;
    }
}


.about-q {
    letter-spacing: 1.6px;
}

.vision-text{
    letter-spacing: 1.6px;
}


.mission-text{
    letter-spacing: 1.6px;
}

.padding-content{
    padding: 15vh 1.5rem;
}



.profile-column{
    text-align: right;

}

.contact{
    margin-left: 121.56px;
}




.add-padding-p {
    p {
        // padding-left: 16px;
        padding-right: 32px;
        
    }
}



#about-vcare {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    p {
        color: #fff;
    }
}


#message-ceo{
    // padding: 6em 1.5rem;
    .message-image {
        padding: 40px 0;
        .image {
            height: 300px;
            width: 300px;
            border: 1px solid;
            border-radius: 50%;            
            margin: auto;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            filter: grayscale(100%);
            overflow: hidden;
            display: flex;
            img {
                               
            }
        }
    }
}


.transparent-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(2 3 43 / 60%);
}






























// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
        
    
    
    .padding-content{
        padding: 10vh 1.5rem;
    }

    
    .contact{
        margin-left: 0px;
    }
    .is-desktop{
        display: none;
    }

    .blue-vcare-bg {
        padding: 10vh 1.5rem;
    }



///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile