// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// @import '~@creativebulma/bulma-collapsible';
// Variables
@import 'variables';
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Tangerine|Poppins|Montserrat');


body{
    font-family: "Montserrat", sans-serif;
    overflow-x: auto;
}

// Proxima Nova = Montserrat
h1,a {
    font-family: "Poppins", sans-serif;
}
p,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}

p {    
    line-height: 30px;
}

.title-column {
    h1.title.is-1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}


.font-family-title {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}



.font-family-title-thick {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 3rem;
}



.has-vcare-text{
    color: $btn-color1;
}

#navigation,
// #content,

body > #wrapper {
    background-color: #fff;
}

.section {
    background-color: #fff;
}

strong,
.title,
body {
    color: $font-color1;
}

.columns.is-flex-end {
    align-items: flex-end;
}

/*
Button
*/

.vcare-btn-outlined,
.vcare-button-outlined{
    border-radius: 9px;
    border: 1px solid $btn-color1;
    background-color: #ffffff00;
    color: $btn-color1;
    a{
        color: $btn-color1;
    }
}

.vcare-btn,
.vcare-button{
    border-radius: 9px;
    border: 1px solid $btn-color1;
    background-color: $btn-color1;
    color:white;
    a{
        color:white;
    }
}


.vcare-white-btn,
.vcare-white-button{
    border-radius: 9px;
    border: 1px solid #fff;
    background-color: transparent;
    color:white;
    a{
        color:white;
    }
}


.vcare-btn:focus,
.vcare-button:focus,
.vcare-btn:hover,
.vcare-button:hover{
    color:white;
}


.vcare-white-btn:hover,
.vcare-white-button:hover{
    border-color: #fff;
    color: #061e3b;
    background: #fff;
    a {
        color: #061e3b;
    }
}

.vcare-btn-outlined:hover,
.vcare-button-outlined:hover{
    color:white;
    background-color:$btn-color1 ;
    a{
        color:white;
    }
}

.vcare-btn-text,
.vcare-button-text{
    letter-spacing: 1.3px;
}

nav {
    padding-top: 20px;
    max-height: 50px;
}

.button.is-vcare {
    background-color: #15284c;
    border-color: transparent;
    color: #fff;
}

// .vcare-btn {
//     font-size: 0.8em;
//     padding: 15px 25px;
// }



.section-bg1 {
    background-color: $bg-color1;
}





.tabs li.is-active a {
    border-bottom-color: #000;
    color: #000;
    font-weight: bold;    
}



.title.is-4 {
    font-weight: normal;
}

.title.is-4 {
    font-size: 2rem;
}




.mt-7 {
    margin-top: 6em;
}




.button[disabled] {
    color: #15284c;
}



.white-disabled-btn.button[disabled] {
    color: #fff;
}



#scrollToTop {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid;
    position: fixed;
    bottom: 20px;
    right: 15px;
    // background-color: $font-color1;
    background-color: $vcare-red;
    color: #fff;
    padding: 10px;
    height: 50px;
    width: 50px;
}




#chat-buttons {
    position: fixed;
    left: 15px;
    bottom: 20px;
    background-color: $vcare-red;
    border: 2px solid #fff;
    border-radius: 5px;

    #whatsapp-button,
    #mylivechat-button {
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        // border: 2px solid #fff;
        // background-color: $vcare-red;
        color: $vcare-red;
        padding: 10px;        
        height: 48px;
        width: 48px;
        i {
            font-size: 25px;
            color: #fff;
        }
        a {
            display: inline-flex;
        }        
    }

    #mylivechat-button {
        // left: 15px;
        // bottom: 20px;
        // margin-right: 10px;
    }


    #whatsapp-button {
        // left: 80px;
        // bottom: 20px;
    }

}



.name-group-title  {
    display: flex; 
    flex-flow: row wrap; 
    align-items: center;
    margin-bottom: 0;;
    .subtitle,
    .title {
        color: $font-color2;
        font-family: "Poppins", sans-serif;
    }

    .name-code-group {
        font-weight: 700;
        margin: 0;
        font-family: "Poppins", sans-serif;
    }
    .name-type-code {
        margin: 0px 0px 0px 10px;
        font-family: "Poppins", sans-serif;
    }
    .title.product-name {   
        font-size: 4em;
        font-weight: 600;
        margin: 0;
        color: $font-color1;
        width: 100%;
        font-family: "Poppins", sans-serif;
    }
}


.has-text-italic {
    font-style: italic;
}








.admin.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #15284c47;
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
}



.mb-150px {
    margin-bottom: 150px !important;
}




.has-text-centered-desktop {
    text-align: center;    
}





.whitespace-nowrap {
    white-space: nowrap !important;
}








.color2 {
    color: $font-color2 !important;
}




.position-relative {
    position: relative;
}







nav#pagination {


    .pagination-element-container{
        display: flex;
        justify-content: center;
        align-items: center;    

        .prev,
        .next {
            .fas {
                font-size: 30px;
            }
        }
    }

}
















// for twitter
/////////////////////////////////////////////////////

.crt-grid-post,
.crt-widget-grid.crt-grid-col5 .crt-grid-post {
	padding: 5px;
}

@media screen and (max-width: 499px) {
    .crt-widget-grid.crt-grid-col1 .crt-grid-post {
        width: 50% !important;
    }
    .crt-grid-post .crt-grid-post-image {
        background-position: left !important;
    }
    .crt-feed-window {
        height: initial !important;
    }
}
/////////////////////////////////////////////////////
// for twitter







.read-more-action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    .button.is-focused, 
    .button:focus,
    .button {
        outline: none;
        box-shadow: none;
    }
    .button.is-focused, 
    .button:focus {
        border-color: #5d5d5d;
    }
    .btn-read-less {
        display: none;
    }
}

.read-more-content {
    display: none;
    overflow: hidden;
    // h2 + p {
    //     margin-bottom: 2rem;
    // }
    ul, ol {
        margin-bottom: 20px;
        padding-left: 15px;
        list-style-type: disc;
        li {
            margin-bottom: 10px;
            font-family: "Montserrat", sans-serif;
        }
    }        
}






















































































// desktop
///////////////////////////////////////////////////
@media only screen and (min-width: 768px) {
///////////////////////////////////////////////////
        



// .show-on-desktop {
//     display: block;
// }


.hide-on-desktop {
    display: none;
}


    




///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// desktop























// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
    



.name-group-title  {


    .title.product-name {   
        font-size: 3em;
    }
}



.has-text-centered-desktop {
    text-align: left;
}





.my-3-mobile {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.my-4-mobile {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-5-mobile {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.hide-on-mobile {
    display: none;
}


// .show-on-mobile {
//     display: block;
// }


.modal-card, 
.modal-content {
    width: auto;
}


///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile