@import 'variables';

.blog-title {
    h1 {
        color: $font-color2;
    }
}

.blog-image {
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

.blog-heading {
    display: flex;
    a, h1 {
        color: $font-color3;
        font-size: 0.85em;
        font-weight: 600;
        padding-top: 3px;
    
    }

}

.blog-buttons {

    button {
        // width: 240px;
        border: 1px solid transparent;
        border-radius: 0;
        // border-bottom: 1px solid $font-color2;
        padding-left: 0;
        // padding-bottom: 0;
        a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;            
            span {
                font-size: 0.8em;
                margin-right: 20px;
                border-bottom: 1px solid;
                padding-bottom: 3px;
            }
            i {
                font-size: 0.8em;
            }
        }
    }
    button:hover {
        color: $font-color2;
        background-color: transparent;
        border: 1px solid transparent;
        font-weight: bold;
        a {
            color: $font-color2;
        }
    }

}


.load-more-btn {
    padding-left: 6em;
    padding-right: 6em;
    a {
        span{
            font-size: 0.8em;
        }
    }
}



.blog-social {

    .social-icons {
        i {
            // margin-right: 15px;
            color: $font-color2;
            margin-left: 25px;
        }
    }
}



.links-and-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}










i.fab.fa-whatsapp {
    font-size: 1.14em;
}


















































// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
    
.links-and-social {
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;

    .blog-social {
        // padding-left: 1em;
        margin-top: 1.8em;
        margin-bottom: 1em;        
    }    
}

///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile