@import 'variables';

.social {

    .social-icons {
        i {
            // margin-right: 15px;
            color: $font-color2;
        }
    }
}


.blog-heading1 {
    // margin-top: 4em;
    margin-top: 2.5em;
}


.blog-heading2 {
    display: flex;
    align-items: center;
    justify-content: space-between;    

    .category-date {
        display: inline-flex;
    }

    .social {

        .social-icons {
            i {
                margin-left: 25px;
            }
        }
    }
}


.blog-text {
    p {
        margin-bottom: 2em;
        strong {
            font-family: "Montserrat", sans-serif;
        }
    }
    ul li {
        strong {
            font-family: "Montserrat", sans-serif;
        }
        font-family: "Montserrat", sans-serif;
    }
}


.blog-image {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 4em;
    padding: 2em;
    // margin-bottom: 3em;
    margin-bottom: 1em;
    // background-color: $bg-color1;
    img {
        width: 100%;
    }
    
}





button.goto-original-link {
    border: 1px solid transparent;
    border-radius: 0;
    padding-left: 0;
    a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;            
        span {
            font-size: 0.8em;
            margin-right: 20px;
            border-bottom: 1px solid;
            padding-bottom: 3px;
        }
        i {
            font-size: 0.8em;
        }
    }
}
button.goto-original-link:hover {
    color: $font-color2;
    background-color: transparent;
    border: 1px solid transparent;
    font-weight: bold;
    a {
        color: $font-color2;
    }
}




.blog-social-bottom {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
    .social {
        .social-icons {
            i {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }    
}





i.fab.fa-whatsapp {
    font-size: 1.14em;
}


.blog-text {

    li {
        margin-bottom: 10px;
    }

    ul,ol {
        margin-bottom: 20px;
        // padding-left: 25px;
        padding-left: 15px;
    }
    ul {
        list-style-type: disc;
    }


    ol {
        li {
            padding-left: 10px;
        }
    }
}

























































// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
    

.blog-heading1 {
    // margin-top: 1em;
    margin-top: 2em;
}


.blog-heading2 {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
    .category-date {
        width: 100%;
        margin-bottom: 1em;
    }

    .social {

        .social-icons {
            i {
            }
        }
    }
}


.blog-image {
    padding: 1em;
    margin-bottom: 1em;
}

.blog-social-bottom {
    margin-top: 2em;
    margin-bottom: 2em;    
}

button.goto-original-link {
    margin-bottom: 2em;
}


///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile