@import 'variables';



.blue-vcare-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 20vh 10px;
}


.careers-text {
    p {
        font-size: 1em;
    }
}



.follow-cause {
    margin-top: 30px;
    margin-bottom: 20px;
    .social-icons {
        i {
            // margin-right: 15px;
            margin-left: 25px;
            color: #15284c
        }
    }
}


.position-title {
    text-align: center;
    display: inline-flex;
    padding-bottom: 10px;
    border-bottom: 1px solid;    
}









// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
    



.follow-cause {
    .social-icons {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        i {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
}



///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile