@import 'variables';

.contact-card{
    background-color: #f5f5f5;
} 


.contact-card:hover{
    background-color: $btn-color1;
    color: white;
    cursor: pointer;
    .contact-icon{
        filter: brightness(20.5);
    }

}

.contact-card-image{
    width: 50%;
}


.field.is-horizontal{
    margin-top: 0px;
}

.add-product{
    padding: 7px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.b2b-contact{
    display: none;
}
// .field input{
//     border-top: 0px;
//     border-right: 0px;
//     border-left: 0px;
//     box-shadow: none;
// }

// .field textarea{
//     border-top: 0px;
//     border-right: 0px;
//     border-left: 0px;
//     box-shadow: none;
// }

.contact-click{
    background-color: $btn-color1;
    color: white;
    .contact-icon{
        filter: brightness(20.5);
    }

}


.grecaptcha-badge{
	visibility: collapse !important;  
}

.whatsapp-available{
    display: none;
}

.referral-option{
    display: none;
}


.who-other-option{
    display: none;
}

.how-other-option {
    display: none;
}

.ppe-other-option {
    display: none;
}

.supplier-contact {
    display: none;
}

.all-contact-form{
    display: none;
}

.medical_option{
    display: none;
}

.ppe_option{
    display: none;
}

.intention-other-option{
    display: none;
}

.box-code {
    font-size: 0.7em;
    position: relative;
    bottom: 2px;
    border: 1px solid;
    padding: 1px 5px;
}

.follow-cause {
    margin-top: 30px;
    margin-bottom: 20px;
    .social-icons {
        i {
            // margin-right: 15px;
            margin-left: 25px;
            color: #15284c
        }
    }
}





.email-address {
    // height: 50px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;    
}
































// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
        

.contact-card-image{
    width: 35%;
}


.follow-cause {
    .social-icons {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        i {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
}


///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile