@import 'variables';





.blue-vcare-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // padding: 20vh 10px;
    padding: 20vh 10px 15vh 10px;
}


.charity-text {
    p {
        font-size: 1em;
    }
}



.follow-cause {
    margin-top: 30px;
    margin-bottom: 20px;
    .social-icons {
        i {
            // margin-right: 15px;
            margin-left: 25px;
            color: #15284c
        }
    }
}




.transparent-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;    
    left: 0;
    background-color: rgba(196, 29, 36, 0.5);    
}





.statistics {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;    
    .stat {
        width: 33.333333%;
        margin-bottom: 50px;
        // padding: 0 40px;        
        h1 {
            color: #fff;
            text-align: center;
        }
        h1.subtitle {
        }
        h1.amount span {
            padding: 10px 15px;
            border-top: 1px solid;
            display: inline-block;       
        }
    }    
}


#covid19-table-container {
    padding-top: 5px;
    padding-bottom: 5px;

    .dataTables_filter {
        margin-bottom: 15px;
        input {
            margin-left: 15px;
        }
    }

    .table tr.is-selected {
        background-color: $vcare-red;
    }

    table.table td:focus {
        outline: none;
    }
    
    
    .main-col {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .fa-chevron-up {
            display: inline-block;
        }
        .fa-chevron-down {
            display: none;
        }        
    }
    .table tr.parent {
        .main-col {
            .fa-chevron-up {
                display: none;
            }
            .fa-chevron-down {
                display: inline-block;
            }
        }
    }
    
}





#charts {
    #covid19-statistics-graph {
        // max-height: 300px;
    }
}








































// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
    










.follow-cause {
    .social-icons {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        i {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
}






.statistics {
    flex-flow: column;
    align-items: center;
    .stat {
        width: auto;
    }
}







///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile