@import 'variables';

.blue-vcare-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20vh 0;
}


.padding-content{
    padding: 15vh 1.5rem;
}

.resources {
    .tile {
        box-shadow: 0px 0px 138px -40px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-flow: column wrap;
        padding: 25px;
        margin-bottom: 20px;
        h1 {
            font-size: 0.8em;
        }
        hr {
            margin: 10px 0;
        }
        a {
            color: $font-color2;
            font-weight: bold;
        }
    }
}



.faq-tabs {
    ul li a {
        font-size: 1rem;
    }
}
.faq-content {
    padding: 0px 20px;
    .tab-content {
        display: none;
        p {
            // margin-bottom: 15px;
            // font-size: 0.8em;
            color: $font-color2;
        }
        .icon{
            color: $font-color2;
        }
    }
    .tab-content:first-child {
        display: block;
    }

    .message{
        border: 1px solid $btn-color1;
    }


    .message-header{
        background-color: white;
    }
}

.tabs li {
  transition: flex-grow 1s ease;
}






.margin-content-top {
    margin-top: 15vh;
}














// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
            
            
    .padding-content{
        padding: 10vh 1.5rem;
    }



    .margin-content-top {
        margin-top: 10vh;
    }
    
        
    .tabs ul{
        display: block;
    }


///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
  

