@import 'variables';



#footer {
	max-width: 1920px;
	margin: auto;    
}


// footer
#footer {
	background-color: #f0f0f0; 
	padding-bottom: 20px;
	padding-top: 60px;
	padding-left: 8vw;
	padding-right: 8vw;  
	h3, i, a {
			color: $font-color1;
	}
	h3 {
			font-size: 15px;
	}
	a {
			font-size: 13px;
	}

	.code-footer {
		// padding: 2px 5px;
	}

	.page-links-container {
		display: flex;
		ul.page-links {
				margin: 0;
				list-style: none;
				display: flex; 
				flex-flow: wrap;
				flex-grow: 1;
				>li {
					padding: 10px;
					flex-grow: 1;
				}
				li {
						width: auto;
						margin-top: 5px;
						text-align: left;
						padding-bottom: 10px;

						> span {
							font-size: 13px;
						}

						.label-title {
							font-size: 15px;
							// white-space: nowrap;
							font-weight: 500;
							border-bottom: 1px solid;
							padding-bottom: 10px;
							width: 100%;
							margin-bottom: 15px;
							font-family: "Poppins", sans-serif;
							a {
								font-size: 15px;
								font-weight: 500;
								font-family: "Poppins", sans-serif;
								color: #363636;								
							}							
						}
						a {
								display: flex;
								align-items: center;
								span {
										// font-size: 0.7em;
									font-family: Poppins,sans-serif;										
								}
						}
						> ul {
							margin-left: 0;
							list-style: none;
							li {


								display: flex;
								justify-content: center;
								align-items: flex-start;
								flex-flow: column nowrap;                     
								
								.label-only {
									font-size: 13px;
									// font-weight: 500;
									color: $font-color1;
									margin-bottom: 1px;
									font-family: "Poppins", sans-serif;
								}
							}
						}
				}
		}

		ul.page-links.product-pages {
			> li {
				padding-left: 30px;
				padding-right: 30px;
				> ul.cat_code_ppe {
					display: flex;
					flex-flow: column wrap;
					// width: 635px;
					// width: 550px;
					width: 400px;
					// height: 280px;             
					// height: 330px;             
					// height: 410px;             
					height: 410px;             
					li {
						// width: 300px;
						width: 250px;
						padding-right: 15px;
						a {
							// margin-bottom: 5px;
						}
					}
				}
			}
		}

		ul.page-links.static-pages {
			// border: 1px solid;
			display: inline-flex;
			flex-flow: column;
			flex-grow: 0;
			li {
				width: auto;
				flex-grow: 0;
				padding: 5px 10px;
			}
		}
	}

	ul.page-links-legals {
			margin: 0;
			list-style: none;
			display: flex; 
			flex-flow: wrap;
			// border-top: 1px solid;
			padding: 15px;
			padding-bottom: 1.5em;
			// justify-content: center;
			align-items: center;    
			// padding-left: 10vw;

			li {
					text-align: left;
					// padding-bottom: 10px;
					// margin-top: 5px;
					margin-right: 40px;
			}
	}

	.social {
			text-align: left;
			padding-top: 50px;
			margin-left: 10px;
			i { 
					padding: 10px;
					font-size: 30px;
			}
	}

	.social-med-sup {
		text-align: center;
		padding-top: 50px;
		margin-left: 10px;
		i { 
				padding: 10px;
				font-size: 30px;
		}
}

	.vcare-logo {
		display: flex;
		width: auto;
	}

	.vcare-logo-med-sup {
		display: flex;
		width: auto;
		width: 100%;
	}

	.brand-name {
		h3 {
				text-align: center;
				margin-bottom: 0;
			}
	}

	.footer-separator {
		background-color: $font-color3;
		height: 1px;
		// margin-left: 8vw;
		// margin-right: 8vw;
		margin-bottom: 0;
	}

	.med-sup-footer{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}


}







#footer .email-address {
		// height: 20px;
		// width: 180px;
		// background-size: contain;
		// background-position: center;
		// background-repeat: no-repeat;
		// margin-top: 15px;
		// margin-left: 10px;

		height: 20px;
		width: 128px;
		background-size: contain;
		background-position: 50%;
		background-repeat: no-repeat;
		margin-top: 10px;
		margin-left: 10px;    
}
































































// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
	

// #footer .page-links-container ul.page-links.static-pages li


#footer {
	padding-top: 40px;
	padding-bottom: 80px;
	.vcare-logo {
		margin: auto;
	}

	.page-links-container {
		flex-flow: column;

		ul.page-links {
				display: flex;
				flex-flow: column wrap;
				justify-content: center;
				margin-top: 25px;
				li {
						// width: 150px;
						// text-align: center;
						a {
								justify-content: center;
						}

				}
		}
		ul.page-links.static-pages {
			flex-flow: row wrap;
		}    
		ul.page-links.product-pages {
			> li {
				padding-left: 0;
				padding-right: 0;
				> ul.cat_code_ppe {
					width: auto;
					height: auto;
					flex-flow: column;          
					li {
						width: auto;
						padding-right: 15px;
						a {
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}

	ul.page-links-legals {
		justify-content: center;
		li {
				text-align: center;
				margin: 5px 10px;
		}
	}
	.social {
			text-align: center;
	}
	.brand-name {
			text-align: center;
	}
	.footer-separator {
		margin-top: 0px;
	}


		.social {
				margin-left: 0px;
		}  
}




#footer .email-address {
	margin: auto;
	margin-top: 10px;
}




///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile