
@import 'variables';
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#message.modal {
    .box {
        margin: 20px;
    }
    .modal-close {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: $font-color2; 
    }
}

.first-rect{
    fill:#DE2227;
    stroke-width:3;
}   

.vcare-hero{
    background-size: cover;
    background-repeat: no-repeat;
    .products-button{
        margin-left:1rem;
    }
    .sample-button{
        margin-left:1rem;
    }

    .vcare-button-eci{
        width:40%
    }

    h1,h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }

    p{
        a{
            color: #15284c;
        }
    }
}

// Vcare Intro
#vcare-intro  {
    .section{
        padding:1rem;
    }
    .container{
        position: relative;
        bottom: 125px;
        background-color: white;
        padding:45px 0px 0px 0px;
        max-width: 1127px;
    }
    h1,h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }

    p{
        a{
            color: #5d5d5d;
            font-weight: 200;
        }
    }
}

.vision-text{
    border-right: 1px solid $btn-color1;
}

.mission-text{
    border-left: 1px solid $btn-color1;
}

// Vcare adv

#vcare-adv{
    .container.is-fluid{
      background-size: cover;
      background-repeat: no-repeat;
    }

    h2{
        padding-top: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 300

    }

    .container .content{
        // padding:85px 0px 185px 0px;
        padding:85px 0px 130px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1127px;
    }

    .columns{
        width: 100%;
    }

    img.adv-icon {
        height:80px;
        margin-bottom: 15px;
    }
    p.adv-title {
        font-size: 1.2em;
    }
    p.advant-text {
        line-height: 25px;
        font-size: 0.9em;
    }
}

.advantage-text{
    color: #F0F0F0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    justify-content: flex-start;
    align-items: center;
}


// Vcare adv



// Vcare standard

.second-rect{
    fill:#DE2227;
}

#vcare-standard{
    // padding-top: 150px;
    // padding-bottom: 150px;
    padding-top: 110px;
    padding-bottom: 110px;    
    .container{
        max-width: 1127px;
    }
    .vcare-head{
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }
  
}
// Vcare standard



// Vcare pride

.third-rect{
    fill:white;
}



 #vcare-pride{
    .container.is-fluid{
        background-size: cover;
        background-repeat: no-repeat;
    }
      
    .transparent-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: rgb(196 29 36 / 50%);        
    }

    .container.content{
       

 

        .second-rect{
            fill:#fff;
        }

        padding:150px  0px 150px 0px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // max-width: 1127px;
        margin: auto;
    }

    .columns{
        width: 100%;
    }

    .is-0-mobile{
        padding: 0rem;
    }

    .vcare-head{
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }
    .main-title {
        margin-bottom: 100px;
    }
 

 }

// Vcare pride


// products

#vcare-products{

    .column{

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .vcare-button-outlined{
        // width: 30%;
    }

    .vcare-button{
        width: 30%;
    }
    .column-two{
        align-items: center;
    }
    h2{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
    }
}

// products

// contact


#vcare-contact{
    background-color: #FDFDFD;
    // border-top: 1px solid #707070;
    padding-top: 120px;
    padding-bottom: 120px;
    h2{
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }
   
}

// contact





#companies {
    // height: 500px;
    // width: 100vw;
    .image-container {
        position: relative;
        .images {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            // border: 1px solid red;
            .image {
                height: 300px;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 90%;
                outline: none;
            }
            img {
                width: 30%;
                outline: none;
            }
        }
        .prev, .next {
            position: absolute;
            top: 42%;
            cursor: pointer;
            outline: none;
            font-size: 30px;
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }

    .slick-initialized .slick-slide {
        outline: none;
    
    }
    .slick-dots {
        display: none;
    }
    
    
}


// #vcare-products .vcare-button-outlined {
//     width: auto;
// }





.covid19-statistics-title {
    display: inline-flex;
    // border-bottom: 1px solid;
    padding: 10px 25px;    
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}


.statistics {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    // flex-flow: column wrap;    
    flex-flow: row wrap;    
    .stat {
        // width: 33.333333%;
        margin-bottom: 30px;
        // padding: 0 40px;        
        h2 {
            // color: #fff;
            // text-align: left;
            font-family: "Poppins", sans-serif;
        }
        h1.subtitle {
        }
        h1.title span {
            // padding: 10px 15px;
            padding: 10px 0px;
            // border-top: 1px solid;
            display: inline-block;       
        }
    }    
}


  



#message {
    h2 {
        font-family: "Poppins", sans-serif;
    }
}








































































// MOBILE CSS



// mobile
///////////////////////////////////////////////////
///////////////////////////////////////////////////

@media only screen and (min-width: 320px) and (max-width: 350px){

    .vcare-hero{
        .products-button{
            margin-top: 0.5rem;
        }

        .sample-button{
            margin-top: 0.5rem;
        }
    }
}




@media only screen and (max-width: 768px) {

    body{
        font-size: 14px;
    
    }


    .vcare-hero{
        background-position-x: right;
        text-align: left !important;
        .products-button{
            margin-left:0rem;
        }

        .sample-button{
            margin-left: 0rem;
            margin-top:0.5rem;
        }

        .vcare-button{
            margin-top: 10px;
        }

        .vcare-button-eci{
            margin-top:10px;
            width:80%
        }
    }



    // Vcare Intro
    #vcare-intro  {
        .container{
            position: relative;
            bottom: 0px;
            background-color: white;
            padding:0px 0px 0px 0px;
        }
    }

    .vision-text{
        border-right: none;
        h5{
            font-size: 15px;
        }
    }

    .mission-text{
        border-left: none;
        h5{
            font-size: 15px;
        }
    }


    
    #vcare-adv{
        padding: 3rem 0px;

        .container.is-fluid{
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: right;

        }

         .container.content{
             padding:50px 0px 85px 0px;
           
         }
     
        .columns{
             width: 100%;
         }  

        .advantage-text{
            margin-top:10px;
            margin-bottom:50px;
           

            
        }
    }


    #vcare-standard{
        text-align: left !important;



    }


    #vcare-pride{
        text-align: left;
        padding: 3rem 0px;
        .container.is-fluid{
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: -310px;
          }
    
        .container .content{
            padding:85px 0px 85px 0px;
          
        }
        .columns{
            width: 100%;
        }

        p{
            font-size: 13px;
        }

        .vcare-big-text{
            line-height: 26px;

        }

     }

     #vcare-products{
        text-align: left;
        .column{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .vcare-button-outlined{
            // width: 50%;
            width: auto;
        }
        .vcare-button{
            // width: 50%;
            width: auto;
        }
        .column-two{
            align-items: center;
        }
        p{
            font-size: 13px;
        }
    }


    #vcare-contact{
        padding-top: 96px;
        padding-bottom: 96px;
        p{

            font-size: 13px;

        }
    }

    #vcare-standard{
        padding-top: 0px;
        padding-bottom: 0px;
    }



    #companies {
        // padding-top: 0;
        .image-container {
            .images {}
            .prev, .next {
                top: 45%;
                font-size: 25px;                
            }            
        }
        .slick-dots {
            display: block;
        }
        
    }    


    .products-btn-group{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
    }


    .statistics {
        flex-flow: column;
        align-items: center;
        .stat {
            width: auto;
        }
    }
    

}




///////////////////////////////////////////////////
///////////////////////////////////////////////////
// mobile
