@import 'variables';

.blue-vcare-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20vh 10px;
}

.mid-vcare-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 28vh 10px;
}



















































