@import "variables";

/*
Links
*/
.a-menu {
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: opacity 1s ease;
    opacity: 0.8;
}

.a-menu:hover {
    opacity: 1;
    color: #1e4132 !important;
    text-decoration: none;
}



// navigation
#navigation {
    padding: 60px 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d2d2d2;

    font-family: "Poppins", sans-serif;

    img.vcare-logo {
        width: 100%;
        height: auto;
        max-height: none;    
    }
    .box-code {
        font-size: 0.7em;
        position: relative;
        bottom: 0;
        border: none;
        padding: 0;
    }
    .navbar-menu {
        .a-menu.navbar-item {
            border-bottom: 2px solid transparent;
            padding: 50px 15px;
            position: relative;
            opacity: 1;
            cursor: default;
            letter-spacing: 1.5px;
            color: #707070;

            a {
                color: #707070;
            }

            ul.submenu {
                opacity: 1;

                // UNCOMMENT AFTER
                // display: none;

                // position: absolute;
                // top: 100%;
                // left: 0;
                background-color: white;
                margin-top: 2px;
                // padding: 10px;
                padding: 15px 10px 10px;
                border: 1px solid #d2d2d2;
                // min-width: 125%;
                li {
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        color: #707070;
                        display: flex;
                        align-items: center;
                        // justify-content: space-between;
                        justify-content: flex-start;
                        // flex-grow: 1;
                        i {
                            // float: right;
                        }
                    }
                }

                .label-only {
                    // opacity: 0.7;
                    // margin-top: 20px;
                    margin-bottom: 5px;
                }
            }
        }

        .a-menu.navbar-item.is-active,
        .a-menu.navbar-item:focus,
        .a-menu.navbar-item:focus-within,
        .a-menu.navbar-item:hover {
            background-color: transparent;
            border-bottom: 2px solid #707070;
        }
    }
}

// new menu
////////////////////////////////////////////////////////////////////////////////
#navigation {
    .navbar-menu {
        span.a-menu.navbar-item,
        a.a-menu.navbar-item {
            cursor: pointer;
        }

        .a-menu.navbar-item {


            .sub-menu-main-link {
                color: $font-color4;
            }

            // had to put inside a container so that the content wont break when slide down
            div.submenu-container {
                display: none;
                position: absolute;
                top: 100%;
                left: -420%;
                .view-all-products {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    color: $font-color1;
                    position: absolute;
                    bottom: 30px;
                    // bottom: 60px;
                    width: 100%;
                    text-align: center;
                    height: 25px;
                    h2 {
                        font-family: "Poppins", sans-serif;                        
                    }
                }
                ul.submenu {
                    display: flex;
                    flex-flow: row;
                    // height: 460px;

                    // padding: 15px 10px 60px 10px;
                    padding: 15px 10px 40px 10px;

                    // left: -10vw;
                    // box-shadow: 0px 35px 50px -25px rgba(0,0,0,0.5);
                    background-color: #f9f9f9;

                    > li {
                        display: flex;
                        flex-flow: column wrap;
                        align-items: flex-start;
                        justify-content: flex-start;
                        padding: 10px 15px;
                        > h2 {
                            white-space: nowrap;
                            display: flex;
                            border-bottom: 1px solid $font-color1;
                            padding-bottom: 10px;
                            width: 100%;
                            color: $font-color2;
                            font-family: "Poppins", sans-serif;
                            a {
                                color: #15284c;
                            }
                        }
                        > ul {
                            display: flex;
                            flex-flow: row wrap;
                            margin-top: 10px;

                            > li {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                flex-flow: column nowrap;
                                // margin-bottom: 20px;
                                margin-bottom: 15px;
                                span.coming_soon {
                                    text-transform: none;
                                    margin-left: 5px;
                                    font-family: "Poppins", sans-serif;
                                    // font-weight: 100;
                                    // cursor: default;
                                }
                                a:hover {
                                    // font-weight: bolder;
                                }
                                a,
                                .label-only {
                                    white-space: nowrap;
                                    text-transform: none;
                                }
                                .label-only {
                                    font-weight: 700;
                                    color: $font-color1;
                                    margin-bottom: 0px;
                                }
                            }
                        }
                        > ul.cat_code_ppe {
                            width: 600px;
                            // height: 300px;
                            // height: 400px;
                            height: 375px;
                            flex-flow: column wrap;
                            li {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

div.submenu-container-2{
    display: none;
    position: absolute;
    top: 100%;
    left: -120%;
    ul.submenu-2 {
        display: flex;
        flex-flow: row;
        // height: 460px;

        // padding: 15px 10px 60px 10px;
        padding: 10px 0px 10px 10px;

        // left: -10vw;
        // box-shadow: 0px 35px 50px -25px rgba(0,0,0,0.5);
        background-color: #f9f9f9;

        > li {
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 10px 15px;
            > h2 {
                white-space: nowrap;
                display: flex;
                border-bottom: 1px solid $font-color1;
                padding-bottom: 10px;
                width: 100%;
                color: $font-color2;
                font-family: "Poppins", sans-serif;
                a {
                    color: #15284c;
                }
            }
        }
    }
}
////////////////////////////////////////////////////////////////////////////////
// new menu











// Search Bar
////////////////////////////////////////////////////////////////////////////////
.navbar>.container .navbar-menu {
    position: relative;
}

.search-bar {
    // min-width: 350px;
    // min-height: 100px;
    padding: 20px 30px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #d2d2d2;
    display: none;

    input.input {
        border-radius: 0;
        width: 300px;
    }
    
    input.input:focus,
    input.input:hover {
        border-color: #dbdbdb;
        box-shadow: none;
    }

    .search-submit {
        border-radius: 0;
    }

    
}

////////////////////////////////////////////////////////////////////////////////
// Search Bar










// breadcrumb
////////////////////////////////////////////////////////////////////////////////
nav.breadcrumb {
    max-height: 200px;
}
////////////////////////////////////////////////////////////////////////////////
// breadcrumb























































// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////

    // navigation
    #navigation {
        padding: 40px 10px;

        .container {
            display: flex;

            .navbar-menu {
                // display: block;
                position: absolute;
                top: 66px;
                right: -10px;
                width: 100vw;
                box-shadow: 0 16px 16px rgba(10, 10, 10, 0.1);

                .a-menu.navbar-item {
                    padding: 20px 15px;
                    text-align: left;
                    border-bottom: none;

                    ul.submenu {
                        position: relative;
                        padding: 25px 10px 15px 40px;
                        min-width: auto;
                        border: none;

                        .submenu-title {
                            width: 100%;
                            display: block;
                            i {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }

    // new menu
    ////////////////////////////////////////////////////////////////////
    #navigation {

        img.vcare-logo {
            width: 200px;    
        }
                
        .container {
            .navbar-menu {
                .a-menu.navbar-item {
                    div.submenu-container {
                        position: relative;
                        top: 0;
                        left: 0;
                        .view-all-products {
                            // > a {
                            top: 25px;
                            text-align: left;
                            bottom: 0;
                            padding-left: 25px;
                            justify-content: flex-start;
                        }
                        ul.submenu {
                            // padding: 25px 10px 15px 10px;
                            padding: 60px 10px 15px 10px;
                            flex-flow: column;
                            box-shadow: none;
                            background-color: #fff;
                            > li {
                                > h2 {
                                    white-space: normal;
                                }
                                > ul {
                                    a,
                                    .label-only {
                                        white-space: normal;
                                    }
                                }
                                > ul.cat_code_ppe {
                                    width: 100%;
                                    height: auto;
                                    li {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    div.submenu-container-2 {
                        position: relative;
                        top: 0;
                        left: 0;
                        .view-all-products {
                            // > a {
                            top: 25px;
                            text-align: left;
                            bottom: 0;
                            padding-left: 25px;
                            justify-content: flex-start;
                        }
                        ul.submenu-2 {
                            // padding: 25px 10px 15px 10px;
                            padding: 20px 10px 15px 10px;
                            flex-flow: column;
                            box-shadow: none;
                            background-color: #fff;
                            > li {
                                > h2 {
                                    white-space: normal;
                                }
                                > ul {
                                    a,
                                    .label-only {
                                        white-space: normal;
                                    }
                                }
                                > ul.cat_code_ppe {
                                    width: 100%;
                                    height: auto;
                                    li {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ////////////////////////////////////////////////////////////////////
    // new menu


    // Search Bar
    ////////////////////////////////////////////////////////////////////////////////

    .search-bar {
        width: 100%;

        input.input {
            width: 100%;
        }
        
        
    }

    ////////////////////////////////////////////////////////////////////////////////
    // Search Bar







///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile
