#privacy-policy {
    position: fixed;
    bottom: 0;    
    z-index: 9999999999999999999;
    display: none;
    .notification.is-danger {
        border-radius: 0;
        padding: 50px 20vw;
        background-color: rgba(211, 0, 28, 0.8);
        border-top: 1px solid #ffff;
    }

    .button.is-active ,
    .button:active ,
    .button.is-focused ,
    .button:focus {
        color: #fff;
        border: 1px solid #fff;
    }
}



























// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
    


#privacy-policy {
    .notification.is-danger {    
        padding: 50px;
        
    }
    p {
        line-height: 25px;
        font-size: 0.9em;
    }
}




///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile