@import 'variables';



.blue-vcare-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20vh 10px;
}


.charity-text {
    p {
        font-size: 1em;
    }
}



.follow-cause {
    margin-top: 30px;
    margin-bottom: 20px;
    .social-icons {
        i {
            // margin-right: 15px;
            margin-left: 25px;
            color: #15284c
        }
    }
}


table.hide-on-mobile {
    margin-top: 0.5rem;
}


section .hide-on-desktop > table {
    // margin-bottom: 2rem !important;
}


table {
    th {
        h1 {
            margin-top: 0.5rem;
        }
    }
}

.mask-table {
    .table {
        background-color: #F1F1F2;
    }
    .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
        background-color: #DFDFDE;
    }
    .table td, 
    .table th {
        border: 1px solid #ffff;
    }
    table {
        thead {
            tr {
                background-color: #DFDFDE;
            }
        }
        tbody {

            th {
                .mask-left-title {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    .datasheet {
                        position: absolute;
                        right: 5px;
                        bottom: 15px;
                        i {
                            font-size: 1.5rem;
                            color: $font-color1;
                        }
                    }
                    .mask-image {
                        img {
                            max-height: 130px;
                        }
                    }
                    h1 {
                        margin-top: 0;
                        margin-bottom: 15px;
                        border-bottom: 1px solid; 
                    }
                }

            }
            td {
                vertical-align: middle;
                p {
                    font-size: 0.75rem;
                }
            }
        }

    }
}


.respirator-comparison {
    padding-top: 1em;
    table {
        tbody {
            td {
                p {
                    font-size: 0.75rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}


#summary {
    ul, ol {
        margin-bottom: 20px;
        padding-left: 15px;
        list-style-type: disc;
        li {
            margin-bottom: 10px;
        }
    }    
}

h2.subtitle {
    font-family: "Poppins", sans-serif;
}


















// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
    



.follow-cause {
    .social-icons {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        i {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
}

.mask-table {

    table {
        tbody {
            th {

                .mask-left-title {
                   
                    .mask-image {
                        img {
                            max-height: 150px;
                        }
                    }
                }            
                .mask-content {
                    text-align: left;
                    padding-bottom: 5px;
                    .datasheet {
                        i {
                            font-size: 1.5rem;
                            color: $font-color1;
                        }
                    }                     
                }
            }
        }
    }

}
///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile