@import 'variables';

#vcare-sample{
    .container.is-fluid{
        background-size: cover;
        background-repeat: no-repeat;
      }

    .container .content{
        padding:145px 0px 145px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1127px;
    }

    .columns{
        width: 100%;
    }

    .vcare-big-text{
        line-height: 1.5;
        font-weight: bold;

    }

    .column-one{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

.field.is-horizontal{
    margin-top: 0px;
}

.add-product{
    padding: 7px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.grecaptcha-badge{
	visibility: collapse !important;  
}

.whatsapp-available{
    display: none;
}

.referral-option{
    display: none;
}

.who-other-option{
    display: none;
}

.how-other-option {
    display: none;
}

.courier-number{
    display: none;
}


@media screen and (max-width: 768px) {

    .is-desktop{
        display: none;
    }
}
