@import 'variables';


.test {
    color: $test;
}

h4.title {
    text-align: center;
}

.slick-prev:before, 
.slick-next:before {
    color: $btn-color1;
}



.column-files {
    text-align: right;
}


.vcare-btn {
    // margin-right: 0px;
    // margin-left: auto;
    // display: block;
    // width: fit-content;
    font-size: 0.8em;
    padding: 15px 25px;

}



.box-title{
    border: 1px solid;  
    padding: 3px 10px; 
    display: inline-flex; 
}


.image-container {
    border: 1px solid #e4e4e4;
    padding: 20px 40px;
}
.overview-certification-tabs {
    ul li a {
        font-size: 1rem;
    }
}
.overview-certification-content {
    padding: 0px 20px;
    .tab-content {
        display: none;
        // font-family: "Montserrat", sans-serif;
                
        p {
            margin-bottom: 15px;
            // font-size: 0.8em;
        }
        strong {
            margin-top: 20px;
            display: block;
        }
    }
    .tab-content:first-child {
        display: block;
    }
}




.product-icons {
    .prod-icon {
        text-align: center;
        .prod-icon-image {
            // width: 75px;
            // height: 75px;
            margin: 20px auto 30px auto;
            // border: 1px solid #b5b5b5;
            // border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            // background-size: 50%;

            width: 100%;
            height: 150px;
            border: none;
            background-size: contain;
        }
        .prod-icon-title {
            font-weight: bold;
        }
        .prod-icon-text {
            font-size: 0.8em;
        }
    }
}





.features_benefits {
    li,p {
        font-size: 1em;
        // font-family: "Montserrat", sans-serif;
        margin-bottom: 5px;
    }  

    ul {
        margin-bottom: 20px;
        list-style-type: disc;
        padding-left: 25px;   
    }
    
    .benefits-image,
    .features-image {
        margin: auto;
        border: 1px solid #ffffff;
        // border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        // background-size: 65%;
        background-size: contain;
        background-color: transparent;

    }

    .features-image {
        // width: 400px;
        // height: 400px;
        // box-shadow: 0px 0px 70px -45px rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 500px;        
        box-shadow: none;
    }
    
    .benefits-image {
        // width: 250px;
        // height: 250px;
        // box-shadow: 0px 0px 60px -35px rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 400px;        
        box-shadow: none;
    }
}
















.how-to-wear {
    .htw-icon {
        text-align: center;
        .htw-icon-image {
            // width: 75px;
            // height: 75px;
            margin: 20px auto;
            // border: 2px solid #b5b5b5;
            background-repeat: no-repeat;
            background-position: center;
            // background-size: 50%;
            position: relative;

            width: 100%;
            height: 100px;
            border: none;
            background-size: contain;

            .htw-order {
                margin: 0 auto auto 0;
                position: absolute;
                top: 0;
                left: 0px;
                font-size: 0.7em;
                background-color: #b5b5b5;
                padding: 0px 5px;
                color: #fff;           
            }
        }
    }
}




.packaging {
    .package {
        box-shadow: 0px 0px 138px -40px rgba(0, 0, 0, 0.1);
        padding: 25px;
        img {
            padding: 25px 25px 35px 25px;
        }
        
        ul li {
            margin-bottom: 10px;  
            // font-family: $font-family-text;
        }
    }

}










.respirator-comparison {
    .table th:not([align]) {     
        min-width: 160px;
    }

}














// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
      

.respirator-comparison {
    display: none;
}

.vcare-btn {
    margin-bottom: 10px;
}

.features_benefits {

    .features {
        flex-direction: column-reverse;
        display: flex;
        > .column {
            width: 100%;
        }
    }

    .benefits-image,
    .features-image {
        height: 350px;
    }
}
.column-files {
    text-align: left;
}
///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile