@import 'variables';


.test {
    color: $test;
}

h4.title {
    text-align: center;
}

.slick-prev:before, 
.slick-next:before {
    color: $btn-color1;
}



.column-files {
    text-align: right;
}


// .datasheet-btn {
//     margin-right: 0px;
//     margin-left: auto;
//     display: block;
//     width: fit-content;  
// }

#content {
    // padding-bottom: 50px;


    .vcare-btn {
        font-size: 0.8em;
        padding: 15px 25px;     
    }

    section.section.respirator-comparison,
    section.section.packaging {
        padding-bottom: 75px;
        .vcare-btn {
            
            border-color: $font-color2;
            font-size: 1em;
            padding: 20px 30px;           
        }
    }
}



.box-title{
    // border: 1px solid;  
    padding: 3px 10px; 
    display: inline-flex; 
}


 

.image-container {
    border: 1px solid #e4e4e4;
    padding: 20px 40px;
    .img-placeholder {
        display: flex;
        margin: auto;
        width: 100%;
        padding: 100px 100px 50px 100px;
    }


    .coming-soon-text {
        opacity: 0.4;
        padding-bottom: 50px;
    }
    
    
    
    .main-image {
        position: relative;
        .fa-search-plus {
            position: absolute;
            right: -15px;
            top: 0px;
            color: $font-color2;
            font-size: 1.5em;          
        }
        img {
            padding: 40px 15px;
        }
    }
    .slick-slide img {
        cursor: pointer;
    }
}
.overview-certification-tabs {
    ul {
        border-color: transparent;
        li:hover {
            a {
                color: $font-color2;
                font-weight: bold;
            }
        }
        li.is-active {
            color: $font-color2;
        }
        li {
            border-left: 1px solid;
            a {
                font-size: 1.2rem;
                text-transform: uppercase;
                border: none;
            } 
        }
        li:nth-child(1) {
            border-color: transparent;
        }
    }
}
.overview-certification-content {
    padding: 0px 20px;
    .tab-content {
        display: none;
        font-family: "Montserrat", sans-serif;
        p {
            margin-bottom: 15px;
            // font-size: 0.8em;
        }
        strong {
            margin-top: 20px;
            display: block;
        }
        ol {
            padding-left: 15px;
            li {
                margin-bottom: 10px;
            }
        } 

        .col-2-overview {
            width: fit-content;
            display: inline-block;
            padding-right: 30px;
        }
    }
    .tab-content:first-child {
        display: block;
    }

    .certifications,
    .overview {
        font-size: 0.9em;
        strong {
            font-weight: 500;
            border-top: 1px solid $font-color5;
            padding-top: 20px;
            padding-bottom: 5px;            
        } 
        strong:nth-child(1) {
            border: none;
            // padding-top: 0;
        } 
        strong.sub-item {
            border-top: 1px solid transparent;
            padding-top: 5px;
            margin-top: 5px;
        }
    }
}



.product-icons {
    .prod-icon {
        text-align: center;
        .prod-icon-image {
            // width: 75px;
            // height: 75px;
            margin: 20px auto 30px auto;
            // border: 1px solid #b5b5b5;
            // border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            // background-size: 50%;

            width: 100%;
            height: 150px;
            border: none;
            background-size: contain;
        }
        .prod-icon-title {
            font-weight: bold;
        }
        .prod-icon-text {
            font-size: 0.8em;
        }
    }
}





.features_benefits {

    ol,li,p {
        font-size: 1em;
        font-family: "Montserrat", sans-serif;
    }  
    li {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 5px;
    }


    ul,ol {
        margin-bottom: 20px;
        // padding-left: 25px;
        padding-left: 15px;
    }
    ul {
        list-style-type: disc;
    }


    ol {
        li {
            padding-left: 10px;
        }
    }
    
    .benefits-image,
    .features-image {
        margin: auto;
        border: 1px solid #ffffff;
        // border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        // background-size: 65%;
        background-size: contain;
        background-color: transparent;

    }

    .features-image {
        // width: 400px;
        // height: 400px;
        // box-shadow: 0px 0px 70px -45px rgba(0, 0, 0, 0.75);
        width: 100%;
        // height: 500px;
        height: 580px;
        height: 400px;
        box-shadow: none;
    }
    
    .benefits-image {
        // width: 250px;
        // height: 250px;
        // box-shadow: 0px 0px 60px -35px rgba(0, 0, 0, 0.75);
        width: 100%;
        // height: 400px;     
        height: 400px;
        box-shadow: none;
    }
}






.strong-as-block {
    strong {
        margin-top: 30px;
        margin-bottom: 15px;
        display: block;
        font-weight: normal;
        font-size: 1.5em;
    }
}






.how-to-wear {
    .htw-icons {
        .htw-icon {
            text-align: center;
            .htw-icon-image {
                // width: 75px;
                // height: 75px;
                margin: 20px auto;
                // border: 2px solid #b5b5b5;
                background-repeat: no-repeat;
                background-position: center;
                // background-size: 50%;
                position: relative;

                width: 100%;
                height: 100px;
                border: none;
                background-size: contain;

                .htw-order {
                    margin: 0 auto auto 0;
                    position: absolute;
                    top: 0;
                    left: 0px;
                    font-size: 0.7em;
                    background-color: #b5b5b5;
                    padding: 0px 5px;
                    color: #fff;           
                }
            }
        }
    }
    .htw-icons.has-5 {
        .htw-icon {
            .htw-icon-image {
                height: 150px;
            }
        }        
    }
}




.packaging {
    .package {
        box-shadow: 0px 0px 138px -40px rgba(0, 0, 0, 0.1);
        padding: 25px;
        img {
            padding: 25px 25px 35px 25px;
        }
        
        ul li {
            margin-bottom: 10px;  
        }
        .title {
            text-align: center;
            font-weight: 400;
        }
    }
    

}




.packaging.gown {
    .package {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}








.respirator-comparison {
    .table th:not([align]) {     
        min-width: 160px;
    }

}






.content-text {
    font-family: "Montserrat", sans-serif;
    ol {
        padding-left: 20px;
        li {
            margin-bottom: 10px;
            strong {
                font-size: 1.2em;
                font-weight: 600;
                margin-bottom: 5px;
            }
        }
    }
}



// .hide-on-desktop {
//     display: none;
// }


// .hide-on-mobile {
//     display: block;
// }





.ce-image-container {
    margin-top: 20px;

}

.ce-image {
    width: 35px;
    height: 20px;
    margin: 10px 0px;            
    vertical-align: middle;
}

.ce-image-medium { 
    height: 80px;
    width: 80px;
    vertical-align: middle;
}

.ce-image-medium.lw {
    margin: 0 20px;
    width: 210px;            
    margin: 0 20px;
}



.kn95me-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 350px;
    height: 400px;
    margin: auto;
}



.how-to-wear-kn95me {
    .htw-icon {
        text-align: center;
        .htw-icon-image {
            // width: 75px;
            // height: 75px;
            margin: 20px auto;
            // border: 2px solid #b5b5b5;
            background-repeat: no-repeat;
            background-position: center;
            // background-size: 50%;
            position: relative;

            width: 100%;
            height: 160px;
            border: none;
            background-size: contain;

            .htw-order {
                margin: 0 auto auto 0;
                position: absolute;
                top: 0;
                left: 0px;
                font-size: 0.7em;
                background-color: #b5b5b5;
                padding: 0px 5px;
                color: #fff;           
            }
        }
    }
}






#disclaimer {
    font-style: italic;
    p {
        font-size: 0.8em;
        line-height: 1.7em;
    }
}



.recommended-usages {
    display: flex;
    flex-flow: row wrap;
    > div {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        margin: 10px;
        max-width: 90px;
        .ru-image{
            height: 50px;
            width: 50px;
        
            background-repeat: no-repeat;
            background-position: center;
            margin: 10px;        
        }
        h1.subtitle {
            font-size: 0.9rem;
            font-weight: 300;
            text-align: center;
        }
    }
}




#datasheet-languages {
    .modal-close {
        background-color: $font-color3;
    }

    .close-modal {
        display: flex;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
        cursor: pointer;        
    }
}





















































// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////


    
 

.image-container {
    .img-placeholder {
        padding: 25px 25px 25px 25px;
    }


    .coming-soon-text {
        padding-bottom: 25px;
    }
        

    .main-image {
        img {
            padding: 40px 0px;
        }
    }
}

.features_benefits {
    .benefits-image,
    .features-image {
        height: 350px;
    }
    li {
        margin-bottom: 5px;
    }  
}  

.columns.reverse-flow-mobile {
    flex-direction: column-reverse;
    display: flex;
    .column {
        width: 100%;
    }
}


// #content {

//     section.section.respirator-comparison,
//     section.section.packaging {    
//         // padding-bottom: 30px;
//     }
// }


.packaging.gown {
    .package {
        margin: 10px;
    }
}

// .hide-on-mobile {
//     display: none;
// }


// .hide-on-desktop {
//     display: block;
// }

.respirator-comparison {
    
}

// .datasheet-btn {
//     margin-right: auto;
//     margin-left: 0;    
// }

.column-files {
    text-align: left;
}

.vcare-btn {
    margin-bottom: 10px;
}

.ce-image-container {
    text-align: center;
}




.recommended-usages {
    > div {
        width: 100px;
        .ru-image{
        }
        h1.subtitle {
        }
    }
}



///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile