@import 'variables';


// .datasheet-btn {
//     margin-right: 0px;
//     margin-left: auto;
//     display: block;
//     width: fit-content;    
// }

.half-width {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;    
}

.inquiry-section {

    padding-top: 120px;
    padding-bottom: 120px;
    border-top: 1px solid #f0f0f0;
    margin-top: 60px;
}


.content-text {
    font-family: "Montserrat", sans-serif;
    ol {
        padding-left: 20px;
        li {
            margin-bottom: 10px;
        }
    }
}
// .strong-as-block {
//     padding-top: 0px;
//     strong {
//         margin-top: 30px;
//         margin-bottom: 15px;
//         display: block;
//         font-weight: normal;
//         font-size: 1.5em;
//     }
// }



.column-files {
    text-align: right;
}

.banner-section {
    position: relative;
    .banner-section-bg {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }
    
    
    .banner {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px 80px; 
        .font-family-title-thick {
            line-height: 1em;
        }
        
        
        .subtitle-red {
            color: red;
            font-size: 2em;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 8px solid #15284C;
            padding-bottom: 10px;
            display: inline-flex;
        }


        .main-image ,
        .packages-image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    
        .main-image {
            width:100%;
            height: 500px;
            .img-placeholder-container {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .img-placeholder {
                    height: 50%;   
                }      
            }            
        }

        .packages-image {
            width: 250px;
            height: 250px;
            position: absolute;
            top: 230px;
            left: -150px;
        }
    }

}


.table-section {


    .table {
        th:not([align]) {     
            min-width: 160px;
        } 

        thead {
            background-color: #f8f8f8;
        }

        th,td {
            text-align: center;
        }
    }

    .all-prices {
        font-size: 0.8em;
    }
    
    
}



.vcare-btn {
    // margin-right: 0px;
    // margin-left: auto;
    // display: block;
    // width: fit-content;
    font-size: 0.8em;
    padding: 15px 25px;

}


.box-title{
    border: 1px solid;  
    padding: 3px 10px; 
    display: inline-flex; 
}






// section#title.section {
//     display: none !important;
// }
















































// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
      


.column-files {
    text-align: left;
}


.half-width {
    max-width: 100%;
}


.vcare-btn {
    margin-bottom: 10px;
}

.table-section {
    .table {
        th:not([align]) {     
            min-width: auto;
        } 
        td {
            font-size: 0.8em;
        }
    }

    .all-prices {
        font-size: 0.8em;
    }    
}


.banner-section {
    background: initial;
    .banner-section-bg {
        display: block;
    }
    .banner {
        padding: 10px;
        background: none !important;
        .main-image {
            width: 100%;
            height: 350px;
        }

        .packages-image {
            width: 100%;
            height: 200px;
            position: relative;
            top: 0;
            left: 0;
            margin: 10px auto;        
        }
    }

}

///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile