@import 'variables';




.height-50vh {
    min-height: 50vh;
}

.login-form {
    padding: 40px 80px;
    min-width: 500px;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    background-color: #fff;
    .form-title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    input.input {
        font-size: 0.8em;
        padding: 20px;
        border-radius: 1px;
        margin-bottom: 10px;      
    }
    .submit-btn {
        border-color: #5d5d5d;
        font-size: 0.8em;
        padding: 20px;
        width: 180px;
        justify-content: start;
        align-items: center;
        i {
            margin-right: 0;
            margin-left: auto !important;
            line-height: 2;            
        }
    }
}


// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
      
.login-form {
    padding: 40px 20px;
    min-width: 100%;
}


///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile