@import 'variables';


.resources {
    padding-top: 0;
    .tile {
        box-shadow: 0px 0px 138px -40px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-flow: column wrap;
        padding: 25px 25px 15px 25px;
        margin: 1em;
        // margin: 1em 3em;
        justify-content: space-between;

        border: 2px solid transparent;

        h3 {
            // font-size: 0.7em;
            font-size: 1.2em;
            font-weight: 100;
            margin-top: 10px;
        }

        h3.name {
            color: $font-color2;
            margin-top: 0;
            font-weight: bold;   
        }
        h3.name_type {
            font-size: 0.8em;
            margin-top: 0;
            font-weight: 400;
        }
        hr {
            margin: 10px 0;
        }
        a {
            color: $font-color2;
            // font-weight: bold;
        }
    }

    .tile.selected {
        border: 2px solid #d3001c;
    }

}


div.tabs.tab-menu {
    // width: 270px;
    margin-top: 5px;
    margin-bottom: 40px;
    // width: 350px;
    width: auto;
    margin-right: 0px;
    display: flex;
    flex-flow: column;
    > .title {
        margin-bottom: 5px;
        // border-bottom: 1px solid;
        padding-bottom: 5px;
        width: auto;
        margin-right: 15px;
        color: $font-color2;
        font-weight: 600;
        font-size: $font-size;
    }
    > .subtitle {
        margin: 5px 0 0 0;
        font-weight: 500;
        font-size: $font-size;
    }
    ul {
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        border: none;
        // margin-left: 10px;
        margin-bottom: 20px;
        li {
            margin-left: 0;
            width: 100%;
            a {
                justify-content: flex-start;
                margin: 3px 0px;
                color: rgba(74, 74, 74, 0.65);
                
                padding: 0px 20px 0px 0px;
                border: 0;
                font-size: $font-size;
                .box-code {
                    border: 0;
                }
            }
        }
        
        li.is-active {
            border-bottom: 1px solid $font-color3;
            a {
            }
        }


    }
}


.main-group-name {
    color: $font-color2;
    font-weight: 700;
    font-size: 1.15em;
    span.subtitle {
        font-weight: 400;        
    }
}

.box-code {
    font-size: 0.7em;
    position: relative;
    bottom: 2px;
    border: 1px solid;
    padding: 1px 5px;
}




.img-container {
    min-height: 270px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    i {
        font-size: 100px;
    }
}

.img-placeholder-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-flow: column;
    .img-placeholder {
        // width: 50%;
        width: 150px; 
        height: auto;
        // background-color: rgba(128, 128, 128, 0.15);
        background-position: center;
        background-repeat: no-repeat;
        // background-size: auto;        
        background-size: 50%;    
    }    
}








.resources .tile h1.coming-soon-text {
    opacity: 0.4; 
    font-size: 0.9em;
    font-weight: 400;
}




.has-text-right-desktop.has-text-left-mobile {
    text-align: right;
}





// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////

.resources {   
    .tile {
        margin: 1em;
    }
}
    
    


.has-text-right-desktop.has-text-left-mobile {
    text-align: left;
}


    

///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile