@import 'variables';


.blue-vcare-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20vh 10px;
}

// .name-group-title  {
//     display: flex; 
//     flex-flow: row wrap; 
//     align-items: center;
//     width: 100%;
//     .subtitle,
//     .title {
//         color: $font-color2;
//     }
//     .name-code-group {
//         font-weight: 700;
//     }
//     .name-type-code {

//     }

// .product-name {
    //     font-size: 4.5em;
    //     font-weight: 600;
    // }
// }

.name-group-title  {
    width: 100%;
    margin-top: 15px;
    .title.product-name.cat-par {
        font-size: 2em;
    }
}

.lang-btn {
    display: none !important;
}


.resources {
    .tile {
        box-shadow: 0px 0px 138px -40px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-flow: column wrap;
        padding: 25px 25px 15px 25px;
        margin-bottom: 20px;
        > h1 {
            // font-size: 0.7em;
            font-size: 1em;
            margin-top: 10px;
        }
        hr {
            margin: 10px 0;
        }
        a {
            color: $font-color2;
            font-weight: 400;
            position: relative;
        }
        .zoom {
            .fa-search-plus {
                position: absolute;
                top: -10px;
                right: -10px;
                font-size: 25px;
                color: $font-color3;         
            }
        }
        .img-container {
            // min-height: 215px;
            min-height: 250px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            i {
                font-size: 100px;
            }
            .fa-times-circle {
                opacity: 0.1;
            }
            img {
                // max-height: 350px;
                max-height: 250px;
            }
        }
    }

    .tile.has-no-lang {
        a {
            cursor: not-allowed;
        }
    }


}

// #company-resources {
//     img {
//         max-height: 300px;
//     }
// }


div.tabs.tab-menu.company-resources {
    margin-top: 25px;
}

div.tabs.tab-menu {
    // width: 270px;
    margin-top: 40px;
    // width: 350px;
    width: auto;
    margin-right: 0px;
    display: flex;
    flex-flow: column;
    > .title {
        margin-bottom: 5px;
        // border-bottom: 1px solid;
        padding-bottom: 5px;
        width: auto;
        margin-right: 15px;
        color: $font-color2;
        font-weight: 600;
        font-size: $font-size;
    }
    > .subtitle {
        margin: 5px 0 0 0;
        font-weight: 500;
        font-size: $font-size;
    }
    ul {
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        border: none;
        // margin-left: 10px;
        margin-bottom: 20px;
        li {
            margin-left: 0;
            width: 100%;
            a {
                justify-content: flex-start;
                margin: 3px 0px;
                color: rgba(74, 74, 74, 0.65);
                
                padding: 0px 20px 0px 0px;
                border: 0;
                font-size: $font-size;
                .box-code {
                    border: 0;
                }
            }
        }
        
        li.is-active {
            border-bottom: 1px solid $font-color3;
            a {
            }
        }


    }



    .password-menu {

        text-align: left;
        text-decoration: none;
        border: none;
        justify-content: flex-start;
        padding: 0;
        font-size: 1em;    
    }
    
    
    
}

div.tabs.tab-menu.is-active {
    
    .password-menu {
        border-bottom: 2px solid;
    }
}


.tab-contents {

    .tab-content {
        display: none;
        padding: 30px 30px 30px 30px;
        position: relative;
        .title.tab-content-title,
        .subtitle.tab-content-title {
            width: 100%;
            align-items: center;
            display: flex;
        }
        
        .subtitle.tab-content-title {
            margin-top: 50px;
        }
        

        .coming-soon-content{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;            
            .banner {
                display: flex; 
                flex-flow: column; 
                justify-content: center; 
                align-items: center;
                padding: 50px 10px;
            }
            .ico-image {
                margin-top: 60px;
            }
            .subtitle {
                color: $font-color2;
            }
        }
    }

    .tab-content#downloads-page {
        .tab-content-title {
            font-weight: 600;
            color: $font-color2;
            flex-flow: column wrap;
            justify-content: center;
            align-items: flex-start;            
            span.subtitle {
                font-weight: 400;
            }

        }
        .tile {
            padding: 15px 25px 15px 25px;
            .name {
                color: $font-color2;
                margin-top: 0;
                font-size: 1.2em;
                font-weight: 700;
            }
            .name_type {
                font-size: 0.8em;
                margin-top: 0;
                font-weight: 400;
            }
            .img-container {
                img.img-placeholder {
                    height: 150px;
                }
            }
        }
    }
}


.img-placeholder-container {
    .img-placeholder {
        width: 150px;
    }
}


.box-code {
    font-size: 0.7em;
    border: 1px solid;
    padding: 2px 5px;
}



.lang-btn-container {
    display: flex;
    // width: 100%;
    justify-content: flex-end;    
    position: absolute;
    top: 20px;
    right: 35px;
    .lang-btn {
        // display: flex;
    }
}



.lang-esp {
    display: none;
}














































// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
    



.tab-contents {
    margin-top: 50px;
    border-top: 5px solid $font-color2;
    padding-top: 50px;
    .title.tab-content-title,
    .subtitle.tab-content-title {
    }

    .subtitle.tab-content-title {
    }

    .tab-content {
        padding: 30px 0px;
        .coming-soon-content{

            .product-name {
                margin-top: 10px;
            }

        }
    }
}

.title.mt-7 {
    margin-top: 3em;
}

div.tabs.tab-menu {
    width: 100%;
    > .title {
        margin-right: 0;
        white-space: normal;
        line-height: 25px;        
    } 
}
div.tabs.tab-menu.company-resources {
    margin-top: 0;
}




.lang-btn-container {
    justify-content: start;
    position: relative;
    top: 0;
    right: 0;    
    margin-top: 10px;
    .lang-btn {
        // display: flex;
    }
}



#company-resources {
    .tab-content-title {
        font-size: 2em;
    }
}


///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile