@import '../variables';


.file {
    margin-bottom: 10px;
}

.box-title {
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid;
    padding: 5px;    
}


.fixed-right-bottom {
    position: fixed;

    bottom: 10px;
    right: 10px;
}


// mobile
///////////////////////////////////////////////////
@media only screen and (max-width: 768px) {
///////////////////////////////////////////////////
      


///////////////////////////////////////////////////
}
///////////////////////////////////////////////////
// mobile