
@import '~@creativebulma/bulma-collapsible';
@import '../variables';



.mt-7 {
    margin-top: 70px;
}







.admin.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #15284c;
    padding: 10px;
}

